<div class="bodyClass">
<h2>My Heroes</h2>
<ul class="heroes">
    <li *ngFor="let hero of heroes">
        <a routerLink="/detail/{{hero.id}}">
            <span class="badge" [ngClass]="{'retired': hero.endDate}">{{hero.id}}</span> {{hero.name}}
        </a>
        <button type="button" class="delete" title="delete hero"
        (click)="delete(hero)">x</button>
    </li>
</ul>

<div class="heroAdd">
    <div class="heroInputForm">
        <input type="text" class="heroInput" id="heroname" placeholder="Hero Name" required="" #heroName />
        <label for="heroname" class="heroLabel">Hero Name</label>
        <!-- <label for="new-hero">Hero name: </label>
        <input matInput id="new-hero" #heroName /> -->
    </div>
    <!-- (click) passes input value to add() and then clears the input -->
    <button mat-raised-button class="add-button" (click)="add(heroName.value); heroName.value=''">
      Add hero
    </button>
</div>
</div>